.h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  justify-self: center;
  text-align: center;
}

.h3 {
  margin: 0;
  padding: 0;
  justify-self: center;
}

.contentContainer {
  margin: 0;
  padding: 0;
  justify-self: center;
  justify-items: center;
  background-color: lightyellow;
}

.voteButtomContainer {
  background-color: aquamarine;
  display: flex;
  gap: 1vw;
  width: 97vw;
  justify-self: center;
  justify-content: center;
  align-content: center;
}

.voteButton {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--buttom-color);
  background-color: var(--buttom-background);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: max(6rem, 30vw);
  height: 60vh;
  
}

.voteButton:hover {
  background-color: var(--buttom-hover); /* 按鈕 hover 時的顏色 */
}

.voteButton:active {
  background-color: var(--buttom-active); /* 按鈕按下時的顏色 */
}

.voteButton:disabled {
  background-color: var(--buttom-dsiable);
  cursor: not-allowed;
}
